/* Temporary rules */

.admin-dashboard-top {
    background-color: #E57373;
    height: 42px;
}

.admin-dashboard-left {
    background-color: #90a4ae;
    height: 300px;
}

.admin-dashboard-right {
    background-color: #26a69a;
    height: 300px;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
